olist_analytics:
  target: dev
  outputs:
    dev:
      type: redshift
      host: "{{ env_var('REDSHIFT_HOST') }}"
      user: "{{ env_var('REDSHIFT_USER') }}"
      password: "{{ env_var('REDSHIFT_PASSWORD') }}"
      port: "{{ env_var('REDSHIFT_PORT', 5439) | as_number }}"
      dbname: "{{ env_var('REDSHIFT_DATABASE') }}"
      schema: analytics
      threads: 4
      connect_timeout: 10
      sslmode: prefer
